<section id="ota-yhteytta">
	

	<h1>Leiriä järjestämässä:</h1>

	

	<div class="first_contact">
		
		<img src="http://vire.lahdensiniset.net/css/img/kimi.png">
		<p><strong>Kimi Uosukainen</strong></p>
		<p>Leirinjohtaja</p>
		<p>kimi.uosukainen ät lahdensiniset.net</p>

	</div>

	<div class="second_contact">

		<img src="http://vire.lahdensiniset.net/css/img/miki.png">
		<p><strong>Miki Pernu</strong></p>
		<p>Leirin varajohtaja</p>
		<p>mikael.pernu ät lahdensiniset.net</p>

	</div>

	<div class="third_contact">
		
		<img src="http://vire.lahdensiniset.net/css/img/joku.png">
		<p><strong>Sinä?</strong></p>
		<p>Leiriltä puuttuu vielä tekijöitä.</p>
		<p>Avoimet pestit löydät <a href="http://vire.lahdensiniset.net/pestit/">täältä</a>.</p>

	</div>

	<h3>Vastaamme mielellämme kysymyksiin - ota rohkeasti yhteyttä!</h3>





</section>