<header id="etusivu">

  <div class="left-sm-logo">
    <a href="http://partio.fi"><img src="http://lahdensiniset.github.io/css/img/partio_logo.png" alt=""></a>
  </div>
  <div class="right-sm-logo">
    <a href="http://lahdensiniset.net/"><img src="http://lahdensiniset.github.io/css/img/lss_logo.png" alt=""></a>

  </div>


  <nav>
    <a id="etusivu-link" href="http://vire.lahdensiniset.net/">ETUSIVU</a>
    <a id="leiri-link" href="http://vire.lahdensiniset.net/leiri/">LEIRI</a>
    <a href="http://vire.lahdensiniset.net/pestit/">PESTIT</a>
    <a id="uutiset-link" href="http://vire.lahdensiniset.net/#uutiset">UUTISET</a>
    <br>
    <a id="ota-yhteytta-link" href="http://vire.lahdensiniset.net/#ota-yhteytta">OTA YHTEYTTÄ</a>

  </nav>
  
  <div class="logo">
    <h2>~</h2>
    <h2>VIRE</h2>
    <p>Elämys // Seikkailu // Yhdessä</p>
  </div>

  <div class="header-btn">
    <a target="_blank" href="https://kuksa.partio.fi/Kotisivut/tilaisuus_ilmoittaudu.aspx?Id=6117">Ilmoittaudu vierailupäivään!</a>
  </div>

  
  <div class="header-info-text">
    <h3>LAHDEN SINISTEN KESÄLEIRI</h3>
    <h3><strong>27.7. - 2.8.2015</strong> | SALMELA, PADASJOKI</h3>
  </div>
    

</header>