<header>

  <div class="left-sm-logo">
    <img src="http://lahdensiniset.github.io/css/img/partio_logo.png" alt="">
  </div>
  <div class="right-sm-logo">
    <img src="http://lahdensiniset.github.io/css/img/lss_logo.png" alt="">

  </div>


  <nav>
    <a href="http://vire.lahdensiniset.net/">ETUSIVU</a>
    <a href="http://vire.lahdensiniset.net/#leiri">LEIRI</a>
    <a href="http://vire.lahdensiniset.net/pestit/">PESTIT</a>
    <a href="http://vire.lahdensiniset.net/#uutiset">UUTISET</a>
    <br>
    <a href="http://vire.lahdensiniset.net/#ota-yhteytta">OTA YHTEYTTÄ</a>

  </nav>
  
  <div class="logo">
    <h2>~</h2>
    <h2>VIRE</h2>
    <p>Elämys // Seikkailu // Yhdessä</p>
  </div>

  <div class="header-btn">
    <a target="_blank" href="https://kuksa.partio.fi/Kotisivut/login.aspx?Id=6116">Ilmoittaudu leirille tästä!</a>
  </div>

  
  <div class="header-info-text">
    <h3>LAHDEN SINISTEN KESÄLEIRI</h3>
    <h3><strong>28.7. - 2.8.2015</strong> | LEIRIKALLIO, TOIVAKKA</h3>
  </div>
    

</header>