#ota-yhteytta {
	background-color: #f6f6f6;
	text-align: center;
	padding: 30px 30px;
	color: #252525;
	margin-top: 5px;
}

.first_contact {
	float:left;
	width: 30%;
	margin: 1.5%;
}

.second_contact {
	float:left;
	width: 30%;
	margin: 1.5%;
}

.third_contact {
	float: left;
	width: 30%;
	margin: 1.5%;
}

.third_contact a {
	font-weight: 600;
}

.first_contact img, .second_contact img, .third_contact img {
	margin-bottom: 10px;
	width: 25%;
	height: 25%;
}

@media (max-width: 690px) {

	.first_contact {
		width: 96%;
	}

	.second_contact {
		width: 96%;
	}
}