body {
	background: #e9e9e9;
}

header {
	background: url(img/vire_header_bg.png) center center;
	background-size: cover;
	height: 568px;
	color: #f5f5f5;
}

header .left-sm-logo {
	margin: 15px 10px 0 10px;
	position: absolute;
	width: 10%;
	height: 10%;
}

header .right-sm-logo {
	margin: 15px 0 0 12%;
	position: absolute;
	width: 7%;
	height: 7%;
}

header nav {
	float: right;
	margin: 22px 20px 0 0;
	font-weight: 600;
}

header nav a:last-child {
	float: right;
	margin: 4px 11px 0 0;
}

header nav a, header nav a:visited {
	color: #fff;
	margin-right: 7px;
	text-decoration: none;
}

header nav a:hover {
	color: #2df585;
	text-decoration: none;
}

header .logo {
	float: left;
	position: absolute;
	left: 20%;
	top: 170px;
	overflow: hidden;
}

header .logo h2 {
	position: absolute;
	font-size: 100px;
	letter-spacing: 1.5px;
	font-weight: 800;
	margin-left: 10px;
}

header .logo h2:first-child {
	font-size: 500px;
	color: #004d8c;
	font-weight: 300;
	margin: -307px 0 0 -14px;
	opacity: 1;
}

header .logo p {
	text-align: center;
	margin: 120px 0 0 16px;
	font-size: 16px;
	font-weight: 500;
}

header .header-btn {
	height: 30px;
	position: absolute;
	top: 400px;
	left: 50%;
	margin-left: -115px;
}

header .header-btn a {
	text-align: center;
	border: thin solid #fff;;
	font-weight: 700;
	font-size: 16px;
	padding: 14px 14px;
	text-decoration: none;
	color: #fff;
}

header .header-btn a:hover {
	background-color: #2df585;
	text-decoration: none;
}


header .header-info-text {
	float: left;
	margin-top: 425px;
	font-size: 15px;
	width: 100%;
}

header .header-info-text h3 {
	text-align: center;
	font-weight: 500;
	margin: -2px 0;
	text-shadow: 1px 1px 8px #444;
}

header strong {
	color: #2df585;
}


@media (max-width: 580px) {

	header .header-info-text h3 {
		font-size: 15px;
	}

	header .right-sm-logo {
		margin: 40px 0 0 20px;
		position: absolute;
		width: 7%;
		height: 7%;
	}

}

@media (max-width: 410px) {

	header .right-sm-logo, header .left-sm-logo {
		display: none;
	}

	header .logo {
		left: 10%;
	}


}