#pestit-page-line {
	margin-bottom: 10px;
}

.job-section {
	border: thin solid #aaa;
	margin-bottom: 3%;
	background-color: #fff;

}

.job-section div.summary {
	text-align: center;
	height: 70px;
	position: relative;
}

.job-section div.program {
	background: #2980b9;
}

.job-section div.logistics {
	background: #c0392b;
}

.job-section div.boats {
	background: #34495e;
}

.job-section div.celebration {
	background: #27ae60;
}

.job-section h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	display: inline-block;
	font-weight: 600;
	color: #fff;
	transform: translate(-50%, -50%);
}

.job-section p, .job-section ol {
	padding: 1% 2% 0 2%;
	font-size: 18px;
}

.job-section li {
	margin: 2% 0;
}

.job-section div.summary i {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 33%;
	transform: translate(-50%, -50%);
}

.job-section div.summary span {
	left: 75%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.job-section div.summary span i:first-child {
	font-size: 60px;
	position: absolute;
	left: -26%;
	transform: translateY(-50%);

}

.job-section div.summary i:first-child {
	left: 25%;
	font-size: 40px;
}

.job-section div.job-contents {
	display: none;
}

ol strong {
	margin-left: -4%;
}

@media (max-width: 531px) {

	.job-section h3 {
		display: block;
	}

	.job-section div.summary i:first-child {
		left: 13%;
	}

	.job-section div.summary span {
		left: 87%;
	}

}

@media (max-width: 400px) {

	.job-section div.summary i:first-child, .job-section div.summary span {
		display: none;
	}

}