---
layout: blog
---

<article>

	<h1>Ajo-ohjeet leirille:</h1>
	<p><a href="https://goo.gl/jwL3kj">https://goo.gl/jwL3kj</a></p>

	<h1>Varustelista ja viimeisimmät lisätiedot löytyvät <a href="http://vire.lahdensiniset.net/leiri/leiri-lisatiedot.pdf">täältä</a>. (Päivitetty 21.7.2015)</h1>

	<h1>Tietoja kesäleiristä</h1>
	<br>
	<p>Vireen leirikirjeen löydät täältä: <a href="http://vire.lahdensiniset.net/leiri/leirikirje_v2.pdf">Vire-leirikirje.</a></p>

	<hr id="pestit-page-line">

	<p>Kesäleiri järjestetään 27.7. - 2.8.2015 Toivakan Leirikalliolla - noin 30 kilometriä Jyväskylästä etelään. Kesäleirillä veneillään ja seikkaillaan partiomenetelmän mukaisesti.</p>


	<hr id="pestit-page-line">

	<h2>Leirimaksut</h2>

	<ul>
		<li>Leirin osallistujamaksu on <strong>100 euroa</strong> koko leiriajalle, ja päivämaksu on 15 euroa. <em>(Seikkalijat, tarpojat)</em></li>
		<li>Sudenpentujen osallistujamaksu on <strong>60 euroa</strong> (osallistuvat leirille 27.7. - 30.7. aikana).</li>
		<li>Johtajien osallistumismaksu on <strong>35 euroa</strong> koko leiriajalta ja päivämaksu 5 euroa. (Vaeltajat, aikuiset)</li>
		<li>Ota ei-vielä-partiolainen kaverisi mukaan leirille, niin saatte molemmat <strong>10 %</strong> pois leirimaksustanne!</li>
		<li><em>Tietyistä syistä leirinjohtaja voi alentaa leirimaksua tai vapauttaa osallistujan maksusta.</em></li>

	</ul>

	<hr id="pestit-page-line">

	<h2>Vierailupäivä 30.7.</h2>

	<p>Leirin vierailupäivä pidetään torstaina 30.7. , jolloin vanhemmat, kaverit ja muut tutut ovat tervetulleita tutustumaan leirin tunnelmiin. Vierailupäivän hinta on <strong>5 euroa</strong> osallistujaa kohden. Tällä kustannetaan vierailijoille lounas- ja välipalaruokailu sekä vierailupäivän ohjelmakokonaisuus.</p>

	<hr id="pestit-page-line">

	<p>Leirin järjestää Lahden Siniset ry, joka on lahtelainen poikien meripartiolippukunta.</p>


</article>