---
layout: blog
---

<article>

	<h1>Tietoja leiristä</h1>

	<hr id="pestit-page-line">

	<p>Kesäleiri järjestetään 27.7. - 2.8.2015 Toivakan Leirikalliolla - noin 30 kilometriä Jyväskylästä etelään.</p>


	<hr id="pestit-page-line">

	<h2>Leirimaksut</h2>

	<ul>

		<li>Leirin osallistujamaksu on 100 euroa koko leiriajalle, ja päivämaksu on 15 euroa. <em>(Seikkalijat, tarpojat, vaeltajat)</em></li>
		<li>Sudenpentujen osallistujamaksu on XX euroa - he osallistuvat leirille 27.7. - 30.7. aikana.</li>
		<li>Johtajien osallistumismaksu on 75 euroa koko leiriajalta. Johtajien päivämaksu on 5 euroa.</li>

	</ul>

	<hr id="pestit-page-line">

	<h2>Vierailupäivä</h2>

	<p>Leirin vierailupäivä pidetään torstaina 30.7., jolloin vanhemmat, kaverit ja muut tutut ovat tervetulleita tutustumaan leirin tunnelmiin. <strong>Vierailupäivän hinta on 5 euroa osallistujaa kohden.</strong> Tällä kustannetaan vierailijoille lounas- ja välipalaruokailu sekä ohjelmakokonaisuudet.</p>


</article>