---
layout: blog
---

<article>

	<h1>Avoimet pestit</h1>

	<p>Leirillä tarvitaan apukäsiä niin suunnittelussa kuin paikan päällä. Alle on listattu avoimia pestejä, joihin haemme lippukuntalaisia ja muita vapaaehtoisia.</p>
	<ul>
		<li><a href="http://vire.lahdensiniset.net/pestit/#ohjelma">Ohjelmamestari</a><br></li>
		<li><a href="http://vire.lahdensiniset.net/pestit/#ikakausi">Ikäkausimestari</a><br></li>
		<li><a href="http://vire.lahdensiniset.net/pestit/#ruoka">Ruokamestari</a><br></li>
		<li><a href="http://vire.lahdensiniset.net/pestit/#huolto">Huoltomestari</a><br></li>
		<li><a href="http://vire.lahdensiniset.net/pestit/#vene">Venemestari</a><br></li>
		<li><a href="http://vire.lahdensiniset.net/pestit/#juhlavuosi">Juhlavuosimestari</a></li>
	</ul>

	<hr id="pestit-page-line">

	<section class="job-section">
		<div class="details">

			<div id="ohjelma" class="summary program">
				
				<i class="fa fa-angle-double-down">
					
				</i><h3>Ohjelmamestari</h3>

				<span class="fa-stack fa-lg">
					<i class="fa fa-circle-thin"></i>
					<i class="fa fa-magic fa-stack-1x"></i>
				</span>

			</div>

			<div class="job-contents">
			
				<p>Ohjelmamestari vastaa leirin yhteisten ohjelmien <i>(avajaiset maanantaina, iltaohjelma torstaina, leirihartaus perjantaina ja päättäjäiset lauantaina)</i> suunnittelusta ja toteutuksesta yhdessä leirinjohtajan tai varajohtajan, muiden tekijöiden ja leiriläisten kanssa.</p>

				<p>Ohjelmamestarin vastuualaan kuuluu koko leirin yhteisen palvelutehtävän suunnittelu ja johtaminen leirillä.</p>

				<ol><strong>Ohjelmamestarina</strong>

					<li>kokoat loistavan, idearikkaan ja esiintymisvalmiin tekijäjoukon ja osallistat leiriläisiä yhteisiin ohjelmiin.</li>
					<li>mahdollistat leiriläisille elämyksiä ja kokemuksia, joita ei vain kerrota leirin jälkeen kotona, vaan muistellaan vielä pitkään.</li>
					<li>varmistat yhteisten ohjelmien sujuvuuden ja teemanmukaisuuden.</li>
				</ol>

			</div>


		</div> <!-- details -->
	</section>

	<section class="job-section">

		<div class="details">

			<div id="ikakausi" class="summary program">
				
				<i class="fa fa-angle-double-down">
					
				</i><h3>Ikäkausimestari</h3>

				<span class="fa-stack fa-lg">
					<i class="fa fa-circle-thin"></i>
					<i class="fa fa-child fa-stack-1x"></i>
				</span>

			</div>

			<div class="job-contents">
			
				<p>Ikäkausimestari vastaa leirin ikäkausiohjelman suunnittelusta yhdessä ryhmänjohtajien kanssa ja käytännön koordinoinnista leirillä. Ikäkausimestari toimii ikäkausijohtajien lähimpänä tukena ja neuvojana leirin aikana.</p>

				<p>Ikäkausimestari suunnittelee ja tukee ikäkausien välisen yhteistyön toteutumista, muun muassa johtamisharjoitusten osalta.</p>

				<ol><strong>Ikäkausimestarina</strong>

					<li>osallistut laajasti leirin etukäteissuunnitteluun ja toteutukseen huomioiden osallistujien näkökulman kaikessa.</li>
					<li>teet aktiivista, innostavaa ja tukevaa yhteistyötä viikkotoiminnanjohtajien kanssa.</li>
					<li>varmistat partio-ohjelman, elämyksellisyyden ja teeman monipuolisen toteutumisen leirin ohjelmassa.</li>
				</ol>

			</div>


		</div> <!-- details -->
	</section>

	<section class="job-section">

		<div class="details">

			<div id="ruoka" class="summary logistics">
				
				<i class="fa fa-angle-double-down">
					
				</i><h3>Ruokamestari</h3>

				<span class="fa-stack fa-lg">
					<i class="fa fa-circle-thin"></i>
					<i class="fa fa-spoon fa-stack-1x"></i>
				</span>

			</div>

			<div class="job-contents">
			
				<p>Ruokamestari vastaa leirin ruokailujen kokonaisvaltaisesta suunnittelusta ja ruokahuollon käytännön järjestämisestä leirillä yhdessä muiden muonitusvastaavien kanssa. Lisäksi ruokamestari vastaa leirin ruokahankintojen suunnittelusta ja toteutuksesta.</p>

				<ol><strong>Ruokamestarina</strong>

					<li>vastaat monipuolisen, ravitsevan ja leirin teemaan sekä muuhun toimintaan sopivien ruokailujen suunnittelusta.</li>
					<li>huolehdit, että ruokailutilanteet ovat osaltaan elämyksellisiä ja täyttävät taloudelliset reunaehdot.</li>
					<li>huomioit leiriläisten näkökulmat ruokailujen toteuttamisessa.</li>
				</ol>

			</div>

		</div> <!-- details -->
	</section>

	<section class="job-section">

		<div class="details">

			<div id="huolto" class="summary logistics">
		
				<i class="fa fa-angle-double-down">
					
				</i><h3>Huoltomestari</h3>

				<span class="fa-stack fa-lg">
					<i class="fa fa-circle-thin"></i>
					<i class="fa fa-wrench fa-stack-1x"></i>
				</span>

			</div>

			<div class="job-contents">
			
				<p>Huoltomestari suunnittelee etukäteen leirillä toteuttavat rakennelmat ja muun materiaalisen huollon. Huoltomestari vastaa myös leirin keskitetyistä materiaalihankinnoista yhdessä leirin muiden johtajien kanssa.</p>

				<ol><strong>Huoltomestarina</strong>

					<li>mahdollistat leiriläisille elämyksiä, partiomaista oppimista sekä fasiliteetit toimia suunnittelemalla erilaiset leirirakennelmat ja ohjaamalla niiden toteutusta leirillä.</li>
					<li>vastaat leirin hankintojen suunnittelusta yhdessä leirin muiden osa- alueiden kanssa sekä itse hankinnoista.</li>
					<li>pidät huolta leirin aikaisen logistiikan toimivuudesta.</li>
				</ol>

			</div>


		</div> <!-- details -->
	</section>

	<section class="job-section">

		<div class="details">

			<div id="vene" class="summary boats">
				
				<i class="fa fa-angle-double-down">
					
				</i><h3>Venemestari</h3>

				<span class="fa-stack fa-lg">
					<i class="fa fa-circle-thin"></i>
					<i class="fa fa-anchor fa-stack-1x"></i>
				</span>

			</div>

			<div class="job-contents">
			
				<p>Venemestari suunnittelee leirillä toteuttavan meripartio-ohjelman ja -koulutuksen yhdessä ikäkausijohtajien ja ikäkausimestarin kanssa. Venemestari vastaa myös tarvittavan kaluston saamisesta leirille.</p>

				<ol><strong>Venemestarina</strong>

					<li>ideoit uudenlaista ja leirin teemaan sekä muuhun toimintaan sopivaa meripartio-ohjelmaa ja –koulutusta leiriläisen näkökulman muistaen.</li>
					<li>varmistat monipuolisten meripartioelämysten, kuten purjehduksen, jollailun ja melonnan, toteutumisen leirillä.</li>
					<li>luot ja edistät tarvittavia kumppanuuksia meripartiotoiminnan toteutumiseksi leirillä.</li>
				</ol>

			</div>


		</div> <!-- details -->
	</section>

	<section class="job-section">

		<div class="details">

			<div id="juhlavuosi" class="summary celebration">
				
				<i class="fa fa-angle-double-down">
					
				</i><h3>Juhlavuosimestari</h3>

				<span class="fa-stack fa-lg">
					<i class="fa fa-circle-thin"></i>
					<i class="fa fa-star fa-stack-1x"></i>
				</span>

			</div>

			<div class="job-contents">
			
				<p>Juhlavuosimestari varmistaa, että lippukunnan 75-vuotisjuhlavuosi näkyy ja kuuluu kokonaisvaltaisesti leirillä, erityisesti sen suunnitteluvaiheessa. Juhlavuosimestari suunnittelee ja toteuttaa juhlavuoteen liittyviä ohjelmanumeroita leirillä.</p>

				<ol><strong>Juhlavuosimestarina</strong>

					<li>suunnittelet ja järjestät vanhojen lippukunnanjohtajien tapaamisen osana leiriä.</li>
					<li>varmistat, että juhlavuosi näkyy leirin kaikilla osa-alueilla ja tuet muita toimijoita tämän toteutumiseksi.</li>
					<li>ideoit juhlavuoteen liittyviä myyntituotteita ja muuta uudenlaista toimintaa leirille.</li>
				</ol>

			</div>


		</div> <!-- details -->
	</section>

</article>